*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* font family */
  /* --ff-ss: 'PT Sans', sans-serif; */
  --ff-ss: 'Nunito', sans-serif;

  /* font-size */
  --fs-b: 0.8rem;
  --fs-h1: 2rem;
  --fs-h2: 1.2rem;

  /* font-weight */
  --fw-n: 300;
  --fw-m: 600;
  --fw-b: 700;
}

@media (min-width: 800px) {
  :root {
    --fs-b: 1rem;
    --fs-h1: 3rem;
    --fs-h2: 1.5rem;
  }
}

html,
body,
#root,
#root > div {
  height: 100%;
}

html {
  font-family: --ff-ss;
  font-size: 10px;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

section {
  padding: 5rem 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

/* .navbar-brand {
  font-weight: bold;
} */
